{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--=============== REMIXICONS ===============-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
    
    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="{% static 'css/front-end-css.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.googleapis.css' %}">
    <link rel="stylesheet" href="{% static 'css/sign.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    
    <title>Reset Password</title>
</head>
<body>
    <header class="header">
        <div class="header-container">
            <div class="header-toggle" id="header-toggle"></div>
            <h1>Money Armor</h1>
            <a href="" class="header-logo">
                <img src="{% static 'img/removebgPreview2.png' %}" alt="Logo">
            </a>
        </div>
    </header>
    
    <main>
        <h1 style="margin-top: 7rem;" class="tengah">Lupa Password</h1>
        <form id="reset-form" method="POST">
            {% csrf_token %}
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Masukkan email Anda" required>
            <button type="submit">Kirim Kode</button>
            <p style="font-size: 0.8rem; font-weight: normal;">Masukkan alamat email Anda dan kami akan mengirimkan kode untuk mereset password Anda.</p>
        </form>            
    </main>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.getElementById('reset-form').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent default form submission
            var formData = new FormData(document.getElementById('reset-form'));
            fetch("{% url 'forgotpw' %}", {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Kode berhasil terkirim',
                        text: 'Silakan cek email Anda!',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = "{% url 'pass_verify_otp' %}";
                        }
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: data.message,
                    });
                }
            });
        });

    </script>
</body>
</html>
